{% extends 'workboard/page_contexts/full.html' %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-md-2" style="padding-left: 35px">
                <div class="card">
                    <div class="card-header">
                        <h2>{{ context.board.name }}</h2>
                    </div>
                    <div class="card-body card-padding" style="padding-top: 20px">
                        <div><a href="/board/home/{{ context.board_id}}">Home</a></div>
                        <div id="assignment"><a href="/board/view_assignment/{{ context.board_id}}">Instruction</a></div>

                    
                        <!-- Your section -->
                        <div style="margin-top: 20px"><small>Your</small></div>
                        <div id="your_goal"><a href="/board/detail/{{ context.board_id }}/goal/list?is_your_goal=1">Goal ({{ context.num_static.num_your_goal |default:0}})</a></div>
                        <div id="your_story"><a href="/board/detail/{{ context.board_id }}/story/list?is_your_story=1">Story ({{ context.num_static.num_your_story }})</a></div>
                        <!-- /Your section -->

                        <div style="margin-top: 20px"><small>Board</small></div>
                        <div id="story"><a href="/board/detail/{{ context.board_id }}/story/list">Story ({{ context.num_static.num_story }})</a></div>
                        <div id="goal"><a href="/board/detail/{{ context.board_id }}/goal/list">Goal ({{ context.num_static.num_goal }})</a></div>
                        <div id="event"><a href="/board/detail/{{ context.board_id}}/event/list">Events ({{ context.num_static.num_event }})</a></div>
                        <div style="margin-top: 20px"><small>Stages</small></div>
                        {% for s in context.stages %}
                            <div id="stage-{{ s.id }}"><a href="/board/detail/{{ context.board_id }}/story/list?stage_id={{ s.id }}">{{ s.name }} {% if s.num_story > 0 %} ({{ s.num_story }}) {% endif %}</a></div>
                        {% endfor %}

                        <div style="margin-top: 20px"><small>Categories</small></div>
                        {% for c in context.categories %}
                            <div id="category-{{ c.id }}"><a href="/board/detail/{{ context.board_id }}/story/list?category_id={{ c.id }}">{{ c.name }} {% if c.num_story > 0 %} ({{ c.num_story }}) {% endif %}</a></div>
                        {% endfor %}

                        <div style="margin-top: 20px"><small>Assignee</small></div>
                        {% for u in context.user_assignee %}
                            <div id="assignee-{{ u.id }}"><a href="/board/detail/{{ context.board_id }}/story/list?assignee_id={{ u.id }}">{{ u.name }} {% if u.num_story > 0 %} ({{ u.num_story }}) {% endif %}</a></div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            {% if side_widget_html != '' %}
                <div class="col-md-7">
                    {{ widget_html | safe }}
                </div>
                <div class="col-md-3">
                    {{ side_widget_html | safe }}
                </div>
            {% else %}
                <div class="col-md-10">
                    {{ widget_html | safe }}
                </div>
            {% endif %}
        </div>
    </div>
    <script>
        jQuery(document).ready(function() {
            var key = "{{ context.menu }}";
            jQuery("#"+ key+ " a").addClass('active-menu');
            var query = window.location.search.substring(1);
            var vars = query.split("&");
            var sub_menu = '';
            for (var i=0;i<vars.length;i++) {
                var pair = vars[i].split("=");
                if(pair[0] == "stage_id"){
                    sub_menu = "stage-"+ pair[1];
                }
                else if (pair[0] == "category_id") {
                    sub_menu = "category-"+ pair[1];
                }
                else if (pair[0] == "assignee_id") {
                    sub_menu = "assignee-"+ pair[1];
                }
            }
            if (sub_menu.trim() != '') {
                jQuery("#"+ sub_menu+ " a").addClass('active-menu');
            }
        });
    </script>
{% endblock %}
