<div class="card">
    <div class="card-header">
        <h2>Request</h2>
        <ul class="actions">
            <div class="btn-group">
                {% for button in buttons %}
                <a id= "{{ button.name }}" href="{{ button.url }}" class="{{ button.bclass }}">{{ button.iclass }}</a>
                {% endfor %}
            </div>
        </ul>
    </div>
    <div class="card-body">
        <table class="table table-hover table-condensed" id="table-request">
            <thead>
                <tr>
                    {% for column in columns %}
                        <th width="{{ column.width }}" class="{% if column.sortable %}{% if column.sort_dir != '' %}sorting_{{ column.sort_dir }}{% else %}sorting{% endif %}{% endif %}" {% if column.sortable %}sortable="sortable" sortkey="{{ column.name }}" sortdir="{{ column.sort_dir }}"{% endif %}>
                            {{ column.title }}
                        </th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody style="background-color: #FFFFFF">
                {{ rows_html | safe }}
            </tbody>
        </table>
    </div>
</div>
<script>
    jQuery(document).ready(function() {
        jQuery('#table-request > tbody > tr > td.cell').click(function(e) {
            var key = jQuery(this).parent().attr('val');
            window.location.href = '/queue/detail/'+ jQuery('#queue-id-'+ key).val()+'/request/update/'+ jQuery('#request-id-'+ key).val();
        })
        jQuery("#bulk-delete").click(function() {
            var array_id = get_checked();
            if (array_id.length > 0) {
                swal({
                        title: "Are you sure?",
                        text: "You will not be able to recover this imaginary file!",
                        type: "warning",
                        showCancelButton: true,
                        confirmButtonText: "Yes, delete it!",
                    }).then(function(isConfirm){
                        if (isConfirm) {

                            var _url = '/queue/detail/'+ {{ board_id }}+ '/request/bulk_delete';
                            jQuery.ajax({
                                type: "POST",
                                dataType: 'json',
                                url: _url,
                                data: {
                                    'arr_request_id': array_id
                                },
                                async: false,
                                success: function (result) {
                                    location.reload();
                                },
                                error: function (result) {
                                    swal("Cancelled", result, "error");
                                }
                            });
                        } else {
                            swal("Cancelled", "Your imaginary file is safe :)", "error");
                        }
                    });
            }

        })
    });
    function get_checked() {
        var checkboxes = jQuery("input[name='checkbox-request']");
        var array_id = [];
        checkboxes.each(function(i, v) {
            if (jQuery(this).is(':checked')) {
                var id = jQuery(this).attr('id');
                array_id.push(id);
            }
        });
        return array_id;
    }
</script>
